.panel{
    border-radius: 0;
}
.panel-heading {
    color: #333333;
    background-color: white!important;
    border-color: white!important;
    text-align: center;
    font-size:26px;
    font-weight: 500;   
}
#show_Image{
    width:100px;
    height:100px;
}
.error{
    color:red;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    width: 50%;
    float: left;
    position: relative;
}
#progressbar li:before { z-index: 1;
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 25px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
     height: 40px;
    text-align: center;
    padding: 2.5%;
    width: 40px;
    border:solid;
    border-width: 1px;
    border-color:#ddd;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1; /*put it behind the numbers*/
    
    
    
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: ''; 
    
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
       background: #27AE60;
    height: 40px;
    text-align: center;
    padding: 2.5%;
    width: 40px;
    color: white;
    
}
